{% import_yaml 'cb-defense-syslog/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'default': {
      'pkgs': [ 'python-cb-defense-syslog' ],
    },
  }, grain='os_family', default='default', merge=salt['pillar.get']('cb:defense:syslog:lookup')) %}

{% do default_settings.cb.defense.syslog.lookup.update(os_family_map) %}

{% set cb_defense_syslog_settings = salt['pillar.get'](
    'cb:defense:syslog',
    default=default_settings.cb.defense.syslog,
    merge=True,
  )
%}
